
.cart-container {
    text-align: justify;
    padding: 20px;
    margin: 20px;
}

div .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 5px;

}
.cart-container, .row, .col-2 {
    margin: 20px 100px 10px 100px;
}
.cart-container h5 {
    margin-top: 5px;
}
.cart-container img{
    padding: 10px;
}
.sb-btn{
    background: #d82727;
    color: white;
}
