


.container-col-8 {

    	text-align:justify;
		padding: 40px 40px 40px 40px;
		line-height: 1.6;	
		margin: 20px;
}
.container-col-9 {
	text-align:justify;
	padding: 0px 0px 0px 60px;
	margin: 20px;
	
}

